/* reseting */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



/* all height - viewport */
#welcome-section {
  height: 100vh;
}


#navbar {
  position: fixed;
}