/* reseting */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}



/* all height - viewport */
#welcome-section {
  height: 30vh;
}


#navbar {
  position: fixed;
  right: 5%;
}

.horizontal-list{
  display: flex;
  list-style: none
}

li {
  margin: 15px 10px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px #727272;
  background: #cccccc;
}

li > a {
  color: #FFF;
  text-decoration: none;
}

body{
  position: relative;
}

.project-title{
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 2%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px #727272;
  background: #cccccc;
}

@media (max-width:800px) {
  #navbar {
    left:1%;
    top: 1%;
  }
  #welcome-section {
    height: auto;
    margin-top: 30px;
  }


}