
@media screen and (max-width:520px) {
  #navbar {
    left:1%;
    top: 1%;
  }
  #welcome-section {
    margin-top: 30px;
  }
  body {
    background: red
  }
}


/* reseting */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}



/* all height - viewport */
#welcome-section {
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 120px;
  display: flex;
}


#navbar {
  position: fixed;
  right: 5%;
}

.horizontal-list{
  display: flex;
  list-style: none
}

li {
  margin: 15px 10px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px #727272;
  background: #cccccc;
}

li > a {
  color: #FFF;
  text-decoration: none;
}

body{
  position: relative;
}


#projects {
  display: flex;
  justify-content: center;
}
.project-tile{
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 2%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px #727272;
  background: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.project-title:hover {
  transform: scale(1.1,1.1)
}

#github {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;
  margin-top: 24px;
}

#github > a {
  padding: 24px;
  background: #727272;
  margin-left: 16px;
  color: #FFF;
  text-decoration: none;
}